/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Element Selectors */
h1 {
    color: darkblue;
    text-align: center;
}

p {
    font-size: 16px;
}

/* Group Selectors */
h2, h3 {
    color: darkgreen;
    margin-bottom: 10px;
}

/* Class Selector */
.section-box {
    border: 2px solid #333;
    padding: 15px;
    margin: 15px;
}

/* ID Selector */
#student-name {
    color: darkred;
    font-weight: bold;
}

/* Descendant Selectors */
.course-list li {
    color: navy;
    font-style: italic;
}

.hobbies-list li {
    color: darkorange;
}
